:root{
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
    --accent-color: #3b5998;
    --width: 63.63961030678927vmin;
    --height: calc(var(--width)*1.4142135623730951);
    --p-margin: calc(var(--height)/264.705);
    --a4-margin-top: calc(var(--height)/18.0);
    --a4-padding: calc(var(--height)/36.0);
    --a4-radius: calc(var(--height)/90.0);
    --padding-1: calc(var(--height)/90.0);
    --header-left-padding: calc(var(--height)/180.0);
    --right-div-left-padding: calc(var(--height)/45.0);
    --github-padding: calc(var(--height)/360.0);
    --name-font-size: calc(var(--height)/20.4545454545);
    --emoji-font-size: calc(var(--height)/56.962025316);
    --header-font-size: calc(var(--height)/47.368421052);
    --project-name-font-size: calc(var(--height)/50.0);
    --paragraph-font-size: calc(var(--height)/52.941176470588);
    --footer-font-size: calc(var(--height)/56.962025316455694);
    --footer-padding: calc(var(--height)/112.5);
}


@media screen and (orientation: portrait){
    :root{
        --width: 90vmin;
        --accent-color: #0084ff
    }
}

@media screen and (orientation: landscape){
    :root{
        --width: 63.63961030678927vmin;
        --accent-color: #3b5998;
    }
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

*{
    box-sizing: border-box;
}

body {
    background: white;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
}

p{
    margin: var(--p-margin) 0 var(--p-margin) 0
}

a{
    text-decoration: none;
    transition-timing-function: ease-out;
    transition: color 0.2s;
} 

a:link      { color: var(--accent-color); }
a:visited   { color: var(--accent-color); }
a:hover     { color: magenta; }
a:active    { color: var(--accent-color); }


.vertical{
    position: relative;
    display: flex;
    flex-direction: column;
}

.horizontal{
    position: relative;
    display: flex;
    flex-direction: row;
}

.paper-a4{
	height: var(--height);
    width: var(--width);
    margin: auto;
	justify-content: left;
	align-items: left;
    background: white;
    padding: var(--a4-padding);

    /* comment for print */
    margin-top: var(--a4-margin-top);
    border-radius: var(--a4-radius);
    box-shadow: var(--box-shadow);

}

.header-div{
    height: 20%;
    padding: var(--padding-1);
    padding-left: var(--header-left-padding);
}

.body-div{
    padding: var(--padding-1);
}

.footer-div{
    padding: var(--footer-padding);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%;
}

.right-div{
    width: 55%;
    padding-left: var(--right-div-left-padding);
}


.left-div{
    width: 45%;
}

.image-div{
    width: 27%;
    border-radius: 50%;
}

.github{
    display: flex;
    padding: var(--github-padding);
    width: 16%;
}

.info-div{
    padding: var(--padding-1);
}

.name-div{
    height: 50%;
    padding: var(--padding-1);
	justify-content: center;
	align-items: center;
    margin-top: 6%;
}

.contact-div{
    height: 10%;
    padding: var(--padding-1);
	justify-content: center;
	align-items: center;
}

.header-p{
    position: relative;
    display: flex;
    flex-direction: row;
	justify-content: left;
	align-items: center;
}

.body-p{
    position: relative;
    display: flex;
    flex-direction: column;
	justify-content: left;
	align-items: left;
    margin-bottom: calc(var(--padding-1)/2);
}

.project-name-div{
    position: relative;
    display: flex;
    flex-direction: row;
	justify-content: left;
	align-items: center;
}

.project-link-div{
    position: relative;
    display: flex;
    flex-direction: row;
	justify-content: left;
	align-items: center;
}

.name-p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: var(--name-font-size);
    color: var(--accent-color);
}

.emoji{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: var(--emoji-font-size);
}

.text-h{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: var(--header-font-size);
    color: var(--accent-color);
}

.project-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: var(--project-name-font-size);
    color: var(--accent-color);
}

.text-b{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: var(--paragraph-font-size);
    color: black;
}

.text-f{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: var(--footer-font-size);
    color: var(--accent-color);
    color: black;
}

.last{
    position: absolute;
    bottom: 0;
}

