:root{
    --box-shadow: 0.5vmin  0.5vmin 1vmin #aaaaaa,
                 -0.5vmin -0.5vmin 1vmin #dddddd;
    --accent-color: #3b5998;
    /* --accent-color: #0078ff; */
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

*{
    box-sizing: border-box;
}

body {
    background: white;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 0.34vmin;
    margin-bottom: 0.34vmin;
}

a{
    text-decoration: none;
    transition-timing-function: ease-out;
    transition: color 0.2s;
} 

a:link {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: magenta;
}

a:active {
    color: var(--accent-color);
}


.vertical{
    position: relative;
    display: flex;
    flex-direction: column;
}

.horizontal{
    position: relative;
    display: flex;
    flex-direction: row;
}

.paper-a4{
	height: 90vmin;
    width: 63.63vmin;
	display: flex;
	flex-direction: column; 
    margin: auto;
    position: relative;
	justify-content: left;
	align-items: left;
    background: white;
    padding: 2.5vmin;

    /* comment for print */
    margin-top: 5vmin;
    border-radius: 1vmin;
    box-shadow: var(--box-shadow);

}

.header-div{
    width: 100%;
    height: 20%;
    padding: 1vmin;
    padding-left: 0.5vmin;
}

.body-div{
    padding: 1vmin;
    width: 100%;
    height: 80%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%;
}

.right-div{
    width: 55%;
    height: 100%;
    padding-left: 2vmin;
}

.left-div{
    width: 45%;
    height: 100%;
}

.image-div{
    width: 27%;
    height: 100%;
    border-radius: 50%;
}

.github{
    display: flex;
    padding: 0.15vmin;
    width: 11%;
    height: 80%;

}

.info-div{
    width: 73%;
    height: 100%;
    padding: 1vmin;
}

.name-div{
    height: 50%;
    width: 100%;
    padding: 1vmin;
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 2.6vmin;
}

.contact-div{
    height: 10%;
    width: 100%;
    padding: 1vmin;
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
}

.header-p{
    width: 100%;
    /* height: 5%; */
    position: relative;
    display: flex;
	justify-content: left;
	align-items: center;
}

.body-p{
    width: 100%;
    position: relative;
    display: flex;
    flex-basis: inherit;
    flex-direction: row;
	justify-content: left;
	align-items: center;
    margin-bottom: 1vmin;
}

.project-name-div{
    width: 100%;
    position: relative;
    display: flex;
	justify-content: left;
	align-items: center;
    margin-top: 0.5vmin;
}

.project-link-div{
    width: 100%;
    height: 2.6%;
    position: relative;
    display: flex;
	justify-content: left;
	align-items: center;
}

.name-p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 4.4vmin;
    color: var(--accent-color);
}

.emoji{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.58vmin;
}

.text-h{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 1.9vmin;
    color: var(--accent-color);
}

.project-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8vmin;
    color: var(--accent-color);
}

.project-link{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 1.7vmin;
    color: black;
}

.text-b{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.7vmin;
    color: black;
}

.rs{ margin-bottom: 0; }
.rst{ margin-top: 3.5vmin; }
.rss{ margin-top: 1.1vmin; }


